  <h1 style="background-color:lightgrey; margin:30px; border-top: 3px solid black;"><center><%= @merchant.name %>'s Coupons</h1>
  <%= link_to "Create Coupon", new_merchant_coupon_path, style: "float:right; font-size:20px; margin-right:30px;" %>

  <% @merchant.coupons.each do |coupon| %>
    <ul><b>Coupon Name:</b> <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %>
    <b>  Amount Off:</b> <%= number_to_currency(coupon.disc_amount) %></ul>
  <% end %>
